


@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('pfdindisplaypro-black-webfont.eot');
    src: url('pfdindisplaypro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-black-webfont.woff2') format('woff2'),
         url('pfdindisplaypro-black-webfont.woff') format('woff'),
         url('pfdindisplaypro-black-webfont.svg#pf_dindisplay_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('pfdindisplaypro-light-webfont.eot');
    src: url('pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-light-webfont.woff2') format('woff2'),
         url('pfdindisplaypro-light-webfont.woff') format('woff'),
         url('pfdindisplaypro-light-webfont.svg#pf_dindisplay_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('pfdindisplaypro-medium-webfont.eot');
    src: url('pfdindisplaypro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-medium-webfont.woff2') format('woff2'),
         url('pfdindisplaypro-medium-webfont.woff') format('woff'),
         url('pfdindisplaypro-medium-webfont.svg#pf_dindisplay_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PFDinDisplayPro';
    src: url('pfdindisplaypro-thin-webfont.eot');
    src: url('pfdindisplaypro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-thin-webfont.woff2') format('woff2'),
         url('pfdindisplaypro-thin-webfont.woff') format('woff'),
         url('pfdindisplaypro-thin-webfont.svg#pf_dindisplay_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}
